@*@{
        int a = 10;
        if (a > 5)
        {
            a++;
            <h1>Value of a = @a</h1>
        }
    }*@

@functions{
    int sum(int a, int b)
    {
        return a + b;
    }
}
@{

    int a = 10;
    int b = 59;
    <h1>Value of a = @sum(a, b);</h1>
}



<h1>This is my Home Index</h1>

